body {
font-family: Roboto, sans-serif;
color: #2e2f42;
background-color: #fff;
}

ul {
list-style: none;
}

a {
text-decoration: none;
}

address {
font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/** ========== Header ========== **/

.logo {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo span {
    color: #4D5AE5;
}

.navigation-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation-link:active, .navigation-link:hover, .navigation-link:focus {
    color: var(--OCEAN, #404BBF);
}

.address-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:active, .address-link:hover, .address-link:focus {
color: var(--OCEAN, #404BBF);
}

/** ================================= **/
/** ========== Main banner ========== **/

.banner {
background: var(--NAVY-BLUE, #2E2F42);
}

.header-banner {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.banner-btn {
font-family: Roboto;
color: var(--WHITE, #FFF);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

/** ================================= **/
/** ========== Our strengths ========== **/

.strengths {
background: #FFF;
}

.strengths-list-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.strengths-list-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

/** ================================= **/
/** ============ Team ============ **/

.team {
background: var(--CLOUD, #F4F4FD);
}

.team-header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-list-text {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/** ================================= **/
/** ============ Portfolio ============ **/

.portfolio {
background: #FFF;
}

.portfolio-header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list-header {
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}

.portfolio-list-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/** ================================= **/
/** ============ Footer ============ **/

.footer {
background: var(--NAVY-BLUE, #2E2F42);
}

.logo-footer {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-footer span {
color: var(--IRIS, #4D5AE5);
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/** ================================= **/